---
import type { IMarkdownMeta } from '@/IMarkdownMeta';
import { BlogPost } from '@/partials/BlogPost';
import { Shield } from '@/partials/Shield';
import Base from '@/templates/Base.astro';
import { AppConfig } from '@/utils/AppConfig';
import { isString } from '@/utils/Posts';

export interface Props {
  content: IMarkdownMeta;
}

const { content } = Astro.props as Props;
const title = `${content.title} - ${AppConfig.site_name}`;
---

<Base head={{ title, description: content.description }}>
  <BlogPost frontmatter={content}>
    <div style='width: 100%; display: flex; flex-direction: column;'>
      <div style='width: 100%'>
        {content.shields.map((shieldUrl, _index) =>
          isString(shieldUrl) ? <Shield url={shieldUrl} /> : null
        )}
      </div>
    </div>
    <slot></slot>
  </BlogPost>

  <!--CTA /-->
</Base>
